body {
    background-color: #fff;
}

.btn_home {
    background-color: #428bca;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.btn_home:hover {
    background-color: blue;
}
